:root {
    --primary-bg-color: #474747;
    --text-color: rgb(255, 255, 255);
    --primary-font: 'Lato';
}

/* Element Selector */
body {
    background-color: black;             
    margin: 2em;
    font-family: var(--primary-font, sans-serif);;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    padding: 1rem; /* Relative unit */
    margin-bottom: 10px; /* Absolute unit */
    border: 2px solid #222222;
    border-radius: 10px;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

#main-header {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--text-color)
}

input[type="text"], input[type="date"], select, textarea {
    border: 1px solid #aaa;
    padding: 0.5em;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

button:hover, input[type="radio"]:active {
    background-color: hsla(0, 0%, 0%, 0.329);
}

h2, h3 {
    color: rgb(9, 33, 58);
    margin-bottom: 0.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 1rem;
}

main > section {
    background-color: var(--primary-bg-color);
}

h3 ~ ul {
    padding-left: 20px;
    margin-bottom: 1em;
}

legend + label {
    font-weight: bold;
}

section h2 {
    border-bottom: 1px solid #525252;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

video {
    width: 100%;
    max-width: 300px; /* You can adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
  }

section:has(img) {
    text-align: center;
    border-color: color-mix(in srgb, rgb(36, 193, 255) 50%, white 50%);
}

section {
    ol {
        list-style-position: inside;
        padding-left: 1em;
    }

    ul {
        list-style-type: circle;
        padding-left: 1em;
    }
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

/* Make page responsive */
@media screen and (max-width: 768px) {
    body {
        margin: 1em;
    }

    nav ul {
        flex-direction: column;
    }

    main {
        grid-template-columns: 1fr;
    }

    img, audio, video {
        width: 100%;
        height: auto;
    }
}

footer {
    display: block;
    color: var(--text-color);
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid #ccc;
}