:root {
    --primary-bg-color: #b3afaf;
    --text-color: rgb(255, 255, 255);
    --primary-font: 'Lato', sans-serif;
}

/* Base Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page Layout */
body {
    background-color: rgb(0, 0, 0);
    margin: 2em;
    font-family: var(--primary-font, sans-serif);
    color: var(--text-color);
}

/* Typography */
h1 {
    text-align: center;
    text-decoration: underline;
}

h2, h3 {
    color: rgb(9, 33, 58);
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

#main-header {
    margin-bottom: 2rem;
}

legend + label {
    font-weight: bold;
}

h3 ~ ul {
    padding-left: 20px;
    margin: 0 0 1em 0;
}

/* Sections */
section {
    padding: 1rem;
    margin-bottom: 10px;
    border: 2px solid #0d0e3a56;
    border-radius: 15px;
    background-color: var(--primary-bg-color);
    position: relative;
}

section h2 {
    border-bottom: 1px solid #525252;
    padding: 0 0 5px 0;
    margin: 0 0 15px 0;
}

section:has(img) {
    text-align: center;
    border-color: color-mix(in srgb, rgb(36, 193, 255) 50%, white 50%);
}

section ol {
    list-style-position: inside;
    padding-left: 1em;
}

section ul {
    list-style-type: circle;
    padding-left: 1em;
}

/* Forms */
input[type="text"],
input[type="date"],
select,
textarea {
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    margin-top: 10px;
}

button:hover,
input[type="radio"]:active {
    background-color: hsla(0, 0%, 0%, 0.329);
}

/* Icon Section */
.icon-container {
    text-align: center;
    padding: 1rem;
}


video {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    border: 1px solid #aaa;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: underline;
}

/* Grid Layout */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    color: var(--text-color);
}

/* Footer */
footer {
    display: block;
    color: var(--text-color);
    text-align: center;
    margin-top: 2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 1rem;
    border-top: 1px solid #ccc;
}


/* Responsive */
@media screen and (max-width: 768px) {
    body {
        margin: 1em;
    }

    nav ul {
        flex-direction: column;
    }

    main {
        grid-template-columns: 1fr;
    }

    img, audio, video {
        width: 100%;
        height: auto;
    }
}